*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
    --main-bg-color: rgb(29, 117, 158);
}

body{
    font-size: 16px;
}

#navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    min-width: fit-content;
    top: 0px;
    left: 0px;
    width: fit-content;
    height: 100%;
    border-right: solid;
    border-color: rgb(18, 134, 134);
}
.nav-link{
    padding: 0.3rem;
    border:2px solid rgb(18, 134, 134);
    text-decoration: none;
    color: rgb(35, 112, 131);
}

.nav-link:hover{
    color: rgba(255, 255, 255, 0.856);
    background-color: rgb(46, 65, 94);
}

header{
    text-shadow: 5px 1px 4px rgba(14, 17, 19, 0.116);
    font-size: 30px;
    padding: 1rem;
    font-weight: 600;
    color: rgb(29, 117, 158);
}

#main-doc{
    width: 80%;
    position: absolute;
    margin-left: 17.75rem;
    padding: 1.25rem;
    margin-bottom: 6.875rem;
}

p{
    padding: 1rem;
}

ul{
    padding: 1rem;
}

li{
    margin: 0.2rem 2rem;
}

.nestli{
    margin: 0.2rem 4rem;
    padding: 0.4rem;
    list-style-type: square;
}


code{
    display: inline-block;
    width: 100%;
    padding: 1em;
    color: #fff;
    margin: 1em 3em;
    background-color: rgba(0, 0, 0, 0.808);
}

@media screen and (max-width: 1000px){
    #navbar{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 0px;
    height: 13.3em;
    border-right: solid;

    }

    #navbar header{
        text-align: center;
    }

    #main-doc{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 12.75rem;
    padding: 1.25rem;
    }

    code{
    display: inline-block;
    width: 80%;
    padding: 1em;
    color: #fff;
    margin: 1em 1em;
    background-color: rgba(0, 0, 0, 0.808);
    font-size: 0.7rem;
    }

    body{
        font-size: 14px;
    }
}